
.align-center {
  text-align: center;
}
div.table-views {
  height: 40vw;
  overflow: overlay;
}

html {
  background: radial-gradient(#FFF176, #F57F17);
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  color: #FF8F00;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  color: #666;
  margin-bottom: 30px;
}

input[type="text"],
input[type="email"] {
  padding: 10px 20px;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #FF6F00;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  color: #666;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  cursor: pointer;
}
label:first-child {
  margin-bottom: 0;
  border-bottom: none;
}

.button,
.rerun-button {
  padding: 10px 20px;
  border-radius: 3px;
  background: #FF6F00;
  color: white;
  border: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}
.button:hover,
.rerun-button:hover {
  background: #e66400;
}
.button.rerun-button,
.rerun-button.rerun-button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  box-shadow: 0px 10px 15px -6px rgba(0, 0, 0, 0.2);
  display: none;
}

.text-center {
  text-align: center;
}

.modal-wrap {
  max-width: 600px;
  margin: 50px auto;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.modal-header {
  height: 45px;
  background: white;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.modal-header span {
  display: block;
  height: 12px;
  width: 12px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.modal-header span.is-active {
  background: rgba(0, 0, 0, 0.4);
  background: #FF8F00;
}

.modal-bodies {
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.modal-body {
  background: white;
    padding: 40px 29px;
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  position: absolute;
  top: 0;
  display: none;
  box-sizing: border-box;
  width: 100%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.modal-body.is-showing {
  display: block;
}

.animate-out {
  -webkit-animation: out 600ms ease-in-out forwards;
          animation: out 600ms ease-in-out forwards;
}

.animate-in {
  -webkit-animation: in 500ms ease-in-out forwards;
          animation: in 500ms ease-in-out forwards;
  display: block;
}

.animate-up {
  -webkit-transform: translateY(-500px) rotate(30deg);
          transform: translateY(-500px) rotate(30deg);
}

@-webkit-keyframes out {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: translateY(800px) rotate(10deg);
            transform: translateY(800px) rotate(10deg);
  }
}

@keyframes out {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  100% {
    -webkit-transform: translateY(800px) rotate(10deg);
            transform: translateY(800px) rotate(10deg);
  }
}
@-webkit-keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

div.errorAlert {
    background: red;
    height: 1em;
    font-weight: bold;
    padding: 1em;
    width: 36em;
    text-align: center;
    border-radius: 5px;
    border: 0.1rem solid;
    box-shadow: 1px 2px 3px brown;
    margin: 14px auto -34px;
    font-family: sans-serif;
    display: none;
}

div.spinner {
  display: none;
  width: 100%;
  background: #000000b0;
  margin: -49px -9px;
  height: 48vw;
  position: absolute;
  z-index: 10000000000;
  background-repeat: no-repeat;
  background-image: url(https://i.pinimg.com/originals/00/94/18/009418460183d05cbbff41179436b3eb.gif);
  background-position: center 22%;
}

/*table CSS*/

@media screen and (max-width: 580px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

.label-files{
text-align: center
}

.previousBtn, .nextBtn {
  background: #f9b040;
  border: 0;
  color: white;
  cursor: pointer;
  width: 3vw;
  font-size: large;
  font-weight: bold;
}

div.spinner > img {
  width: 60%;
  background: radial-gradient(#FFF176, #F57F17);
  border-radius: 166px;
}

p.text-spinner {
  width: fit-content;
  top: 49vh !important;
  position: absolute;
  color: wheat;
  font-family: monospace;
  font-size: x-large;
  left: 95vh;
  font-weight: 600;
}