<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Organizador de Conferências</title>
    <meta name="description" content="Aqui vai uma Descrição">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Form -->
      <div id="app">
        
        <!-- Alerts -->
          <div class="errorAlert" ref="errorAlert">{{ errorAlert || 'Falha na execução.' }}</div>
          <div class="spinner" ref="sucessAlert"><p class="text-spinner">PROCESSANDO</p></div>
        <!-- Alerts -->

        <!-- Modal -->
        <div class="modal-wrap">

          <div class="modal-header">
            <button class="previousBtn" v-if='eventsModel != null' v-on:click="hiddeModalEvent($refs.modal1, $refs.modal2, 1)"><</button>
            <span ref='indice1' class="is-active"></span><span ref='indice2'></span>
            <button class="nextBtn" v-if='eventsModel != null' v-on:click="hiddeModalEvent($refs.modal2, $refs.modal1, 2)">></button>
          </div>

          <div class="modal-bodies">

            <div class="modal-body modal-body-step-1 is-showing" ref="modal1">
              <div class="title">Organize seu Evento</div>
              <div class="description">
                Selecione o Arquivo
              </div>
              <label for="fileUpload" class="label-files">
                <input type="file" v-model="file" name="fileUpload" ref="file" id="fileUpload" required="true">
              </label>
              <!-- Button To Organize -->
              <div class="text-center">
                <button class="button" v-on:click="upload" id="organize">Organizar</button>
              </div>
              <!-- Button To Organize -->
            </div>

            <div class="modal-body modal-body-step-2 table-views" ref="modal2">

              <div class="title">Horários</div>
              <div class="description">Lista de Horários</div>
              <div class="wrapper">

                <!-- Table Schedules -->
                <div v-for="track in tracks">
                  <div> <h4>Track {{track}}:</h4> </div>
                  <table>
                    <div class="table">
                      
                      <div class="row header">
                        <div class="cell"> Horários  </div>
                        <div class="cell"> Palestras </div>
                        <div class="cell"> Minutos   </div>
                      </div>

                      <div class="row" v-for="event in eventsModel">
                        <div class="cell" data-title="Age" v-if="track == event.track" > 
                          {{event.schedule}} 
                        </div>
                        <div class="align-cente cell" data-title="Occupation" v-if="track == event.track">
                          {{event.description}}
                        </div>
                        <div class="cell" data-title="Occupation" v-if="track == event.track"> 
                          {{event.minutes}} 
                        </div>
                      </div>

                    </div>
                  </table>
                </div>
                <!-- Table Schedules -->

              </div>

            <!-- Confirm Modal  -->
            <div class="modal-body modal-body-step-3" ref="modal3">
              <div class="title">CONFIRMAÇÃO</div>
              <div class="description">Organizar outro evento?.</div>
              <div class="text-center">
                <div class="button"  >Sim</div>
              </div>
            </div>
            <!-- Confirm Modal  -->

          </div>
        </div>
          <div class="text-center"> <div class="rerun-button">ReRun</div> </div>
        </div>
        <!-- Modal -->
    <!-- Form -->

    <script scoped>
      const app = new Vue({
        el: '#app',
        data: {
          file: null,
          errorAlert: '',
          successAlert: '',
          organization: [],
          tracks: [],
          eventsModel: null
        },
        methods:{
          // Simple POST request with a JSON body using fetch
          async upload () {
            const files = this.$refs.file.files
            const formData = new FormData()
                  formData.append('File', files[0])

            const requestOptions = {
              method: 'POST',
              headers: {
                'Content-Type': 'multipart/form-data',
                'X-User-Email': 'admin@organizaevento.com.br',
                'X-User-Token': 'sQzPKg_p-S8SzAfr332J' 
              },
              body: formData
            }
            // disable the spinner
            this.$refs.sucessAlert.style.display  = 'block'

            await fetch('http://localhost:3000/api/v1/organize/event', requestOptions)
              .then(async response => {
                const data = await response.json()
                // check for error response

                if (!response.ok) {
                  // get error message from body or default to response status
                  const error = (data && data.message) || response.status

                  this.$refs.sucessAlert.style.display  = 'none'
                  if (data.status == 401) {
                    this.errorAlert = response
                  } else {
                    this.errorAlert = 'Ops! Não foi possivel realizar a operação! '
                  }
                  this.$refs.errorAlert.style.display  = 'block'

                  // Disable alert
                  this.disable(this.$refs.errorAlert)
                  return Promise.reject(error)
                } else {
                  this.$refs.sucessAlert.style.display  = 'none'

                  this.eventsModel = data
                  // number of Tracks
                  this.tracks = this.eventsModel.map(item => item.track).reduce((unico, item) => {
                      return unico.includes(item) ? unico : [...unico, item]
                  }, [])

                  await this.displayTableData(2)
                }
                // this.postId = data.id
              })
              .catch(error => {
                this.errorAlert = 'Erro de conexão ou Acesso.'
                this.$refs.errorAlert.style.display  = 'block'
                this.$refs.sucessAlert.style.display  = 'none'
                this.disable(this.$refs.errorAlert)
              })
          },
          displayTableData (stage) {
            this.hiddeModalEvent(this.$refs.modal2, this.$refs.modal1, stage)
          },
          /*
            Hidden the modal event and activating from flow header 
            by passing the new modal and the old modal 
            following the parameters with a next stage flow
          */
          hiddeModalEvent (modalActual, oldModal, stage) {
            if (stage) {
              this.$refs[`indice${stage}`].classList.add('is-active')
              if (stage == 1) {
                this.$refs[`indice${2}`].classList.remove('is-active')
              }else{
                this.$refs[`indice${1}`].classList.remove('is-active')
              }
            }
            modalActual.classList.add('is-showing')
            oldModal.classList.remove('is-showing')
          },
          disable (popup) {
            setTimeout(() => {
              popup.style.display = 'none'
            }, 4500)
          } 
        }
      })
    </script>
  </body>
</html>